.footer {
    background-color: var(--footer-color);
    padding-top: 60px;
    padding-bottom: 60px;
}

footer .logo {
    font-family: Raleway;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--hover-color);
    text-decoration: none;
    display: inline-block;
    margin-bottom: 20px;
}

.footer .logo2 {
    font-family: Raleway;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--white-color);
    text-decoration: none;
}

.contacts {
    width: 231px;
}

.adres-nav {
    color: var(--white-color);
    font-style: normal;

    & .secondary-link:hover,
    & .secondary-link:focus {
            color: var(--hover-color);
        }
}

.adres-nav .item+.item {
    display: block;
    margin-top: 9px;
}

.adres-nav .secondary-link {
    color: var(--footer-adres);
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

   

}



.footer-text {
    display: flex;
    align-items: baseline;
}

.footer-title {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-align: left;
    text-transform: uppercase;
    color: var(--white-color);
}

.link-position-footer {
    margin-left: 70px;
}

.social-footer+.social-footer {
    margin-left: 10px;
}

.social-background-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    fill: var(--white-color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus,
    &:hover {
            background-color: var(--hover-color);
        }

}



.email-feedback {
    margin-left: auto;
}

.footer-follow {
    display: flex;
    align-items: center;
}

.email-input {
    height: 50px;
    width: 358px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: transparent;
    outline: none;
    color: rgba(255, 255, 255, 0.7);
    padding: 15px 16px;
    font-size: 16px;
    line-height: 1.25;

    &:focus {
            border: 1px solid var(--hover-color);
        }

    &::placeholder {
         color: rgba(255, 255, 255, 0.6);
        }
}





.follow {
    display: flex;
    align-items: center;
    margin-left: 12px;
    background-color: var(--hover-color);
    color: var(--white-color);
    font-family: Roboto;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.9;
    letter-spacing: 0.06em;
    text-align: center;
    padding: 10px 32px;
    border-color: transparent;
    border: 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
            background-color: var(--button-back-color)
        }
}



.icon-follow {
    margin-left: 10px;
}

