.logo {
    font-family: Raleway;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-align: left;
    text-decoration: none;
    color: var(--hover-color)
}

.logo2 {
    font-family: Raleway;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-align: left;
    color: var(--black-color)
}