.team {
    background-color: var(--card-color);
}


.team-list .title {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    margin-top: 0;
    margin-bottom: 10px;
    text-align: center;
}

.team-list {
    display: flex;
}

.team-list .card {
    width: calc((100% - 90px)/3);
}

.team-list .card+.card {
    margin-left: 30px;
}

.team-list .card {
    background-color: var(--white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-list .item {
    font-size: 16px;
    line-height: 1.19;
    margin-bottom: 0;
    margin-top: 0;
    text-align: center;
}

.name {
    padding: 30px 0 16px 0;
}

.social {
    display: inline-flex;
}

.social .item+.item {
    margin-left: 10px;
}

.social-background {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    fill: var(--social-color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
            background-color: var(--hover-color);
            fill: var(--white-color);
        }
}



.link-position {
    padding: 0px 32px 30px 32px;
}