.section {
    padding-top: 94px;
    padding-bottom: 94px;
}
.htitle {
    color: var(--title-text-color);
    margin-bottom: 50px;
    margin-top: 0;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}