:root {
    --title-text-color: #212121;
    --white-color: #FFFFFF;
    --hover-color: #2196F3;
    --outlink-color: #757575;
    --black-color: #000000;
    --footer-color: #2F303A;
    --card-color: #F5F4FA;
    --footer-adres: #FFFFFF99;
    --button-back-color: #188CE8;
    --ramka-color: #EEEEEE;
    --background-hero: #C4C4C4;
    --social-color: #AFB1B8;
}